@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__list {
    padding: 0px 30px 0px 30px;
} 

.str-chat__reaction-list {
 padding-top: 3px;
}

.str-chat__thread-start {
    margin-top: 25px;
}

.str-chat__message-reactions-details-reaction-types {
    margin-left: 20px;
}

.str-chat__edit-message-cancel {
    padding-right: 20px;
}

.str-chat__edit-message-send {
    padding-right: 5px;
}

.str-chat__parent-message-li {
    margin-top: 30px;
}

.str-chat-channel-list.team{
    width: 20px;
    position: static;
    max-height: 420px;
    overflow: auto;
    border-radius: 10px;
} 

.str-chat__channel-list .str-chat__channel-list-react {
    overflow: hidden;
}

.str-chat-channel-list.team {
    z-index: 10;
    min-height: 420px;
    border-radius: 10px;
}

.str-chat__modal__inner {
    width: 50vw;
}

.str-chat__message-reactions-details-reaction-types {
    display: flex;
    justify-content: center;
}

.str-chat__message-reactions-details-reaction-type {
    margin: 0px 10px 0px 10px;
}

.str-chat__message-reactions-details-reaction-types {
    margin-left: 0px;
}

.str-chat__message-reactions-details-reacting-user {
    display: flex;
    padding-top: 5px;
}

.str-chat__user-item--name {
    margin-top: 3px;
}

.str-chat__close-thread-button {
    vertical-align: middle;
    border: none;
    color: inherit;
    border-radius: 50%; 
    background: transparent;
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}

.str-chat__close-thread-button:focus,
.str-chat__close-thread-button:hover {
    opacity: 1; 
    background: #4f46e5; 
}

.str-chat__close-thread-button:active {
    background: #6366f1; 
}

.str-chat__close-thread-button:hover::before,
.str-chat__close-thread-button:hover::after {
    background-color: #ffffff; 
}

.str-chat__close-thread-button::before,
.str-chat__close-thread-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 16px; 
    background-color: currentColor; 
}

.str-chat__close-thread-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.str-chat__close-thread-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
