@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__list {
    padding-right: 30px;
} 

.str-chat__reaction-list {
 padding-top: 3px;
}

.str-chat__thread-start {
    margin-top: 25px;
}

.str-chat__message-reactions-details-reaction-types {
    margin-left: 20px;
}

.str-chat__edit-message-cancel {
    padding-right: 20px;
}

.str-chat__edit-message-send {
    padding-right: 5px;
}

.str-chat__close-thread-button {
    background-color: indigo;
}

.str-chat__parent-message-li {
    margin-top: 30px;
}

.str-chat-channel-list.team{
    width: 20px;
    position: static;
    max-height: 420px;
    overflow: auto;
} 

.str-chat__channel-list .str-chat__channel-list-react {
    overflow: hidden;
}


